﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    @*<div class="container">*@

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/customLogo.gif" />
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/Home/Index">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navigation <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MISO Officers</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Home/OfficerRequirement">Officer Requirement</a></li>
                                    <li><a href="/Home/MISOOfficersGrid">MISO Officer</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Join MISO</a></li>
                                    <li><a href="#">Alumni</a></li>
                                    <li><a href="#">Resources</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Career Link</a></li>
                            <li><a href="#">Sponsors</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional Links <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://www.uhcl.edu/home">UHCL</a></li>
                            <li><a href="https://mis.uhcl.edu/">UHCL MIS</a></li>
                            <li><a href="http://prtl.uhcl.edu/home">UHCL SGA</a></li>
                            <li><a href="http://prtl.uhcl.edu/student-life">UHCL Student Life Office</a></li>
                            <li><a href="http://www.uhcl.edu/careerservices">UHCL Career Services</a></li>
                            <li><a href="https://www.facebook.com/groups/582820985062667">MISO Facebook Group</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Contact" id="someID">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="footer p-t-1" style="padding-top:5px">
        <div class="container">
            <div class="pull-right">
                <nav class="navbar" style="background:transparent; color: black;">
                    <nav class="nav navbar-nav pull-xs-left">
                        <a class="nav-item nav-link" href="#">Home</a>
                        <a class="nav-item nav-link" href="#">About</a>
                        <a class="nav-item nav-link" href="/Home/Contact">Contact Us</a>
                    </nav>
                </nav>
            </div>
            <a href="https://www.facebook.com/groups/582820985062667"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fa fa-pinterest-p fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fa fa-flickr fa-2x"></i></a>
            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
            <p class="h6">
                Powered by UHCL
                <a href="www.uhcl.edu/" target="_blank"></a>
            </p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    </script>
    <style type="text/css">
        .marginBottom-0 {
            margin-bottom: 0;
        }

        .dropdown-menu {
            min-width: 200px;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #cccccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #555;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }

        footer {
            background-color: black;
        }

        #justpushtobottom {
            height: 82vh;
        }
    </style>
    <link href="~/fancybox-3.0/dist/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/fancybox-3.0/dist/jquery.fancybox.js"></script>
    <script type="text/javascript">
        $("document").ready(function () {
            $('.fancybox').fancybox();

        });
    </script>
</body>
</html>
