﻿@{
    ViewBag.Title = "Contact";
}
<style type="text/css">
    .jumbotron {
        background: #358CCE;
        color: #FFF;
        border-radius: 0px;
    }

    .jumbotron-sm {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .jumbotron small {
        color: #FFF;
    }

    .h1 small {
        font-size: 24px;
    }
</style>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <div class="col-md-6">
                            <div class="panel-body text-center">
                                <h4>Mailing Address</h4>
                                <div>
                                    ATTN: MISO<br />
                                    University of Houston-Clear Lake<br />
                                    2700 Bay Area Blvd. Box 36<br />
                                    Houston, TX 77058<br />
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-body text-center">
                                <h4>M.I.S. Faculty Suite</h4>
                                <div>
                                    ATTN: MISO<br />
                                    University of Houston-Clear Lake<br />
                                    2700 Bay Area Blvd. Box 36<br />
                                    Houston, TX 77058<br />
                                </div>
                                <hr>
                            </div>
                        </div>
                    </fieldset>
                    <div class="sites-layout-tile sites-tile-name-footer"><div dir="ltr"><div class="sites-embed-align-center-wrapping-off"><div class="sites-embed-border-on sites-embed sites-embed-full-width" style="width:100%;"><h4 class="sites-embed-title">University of Houston-Clear Lake</h4><div class="sites-embed-object-title" style="display:none;">2700 Bay Area Blvd</div><div class="sites-embed-content sites-embed-type-map"><iframe src="//maps.google.com/?ll=29.583422%2C-95.09815&amp;spn=0.005281%2C0.011051&amp;ie=UTF8&amp;z=16&amp;t=h&amp;sll=29.583422%2C-95.09815&amp;sspn=0.005281%2C0.011051&amp;q=29.583441%2C-95.098493%20(2700%20Bay%20Area%20Blvd)&amp;output=embed" title="2700 Bay Area Blvd" width="100%" height="500" frameborder="0" class="map_embed" scrolling="no"></iframe></div></div></div><div><br></div></div></div>
                </form>
            </div>
        </div>
    </div>
</div>
