﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 80%;
        height: 525px;
        margin: auto;
    }
</style>
<div class="container">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Images/MISO-MeetnGreetEvent-Group.jpg" />
                </div>

                <div class="item">
                    <img src="~/Images/MISO-MeetnGreetEvent-Group1.jpg" />
                </div>

                <div class="item">
                    <img src="~/Images/MISO-MeetnGreetEvent-Group2.jpg" />
                </div>

                <div class="item">
                    <img src="~/Images/MISO-MeetnGreetEvent.jpg" />
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="mt-4 page-header">What We Do</h2>
            <p style="text-align:justify">Our objective is to promote and recognize scholastic achievement and professional excellence among management information systems students and alumni. We serve to provide opportunities for the interaction of members with information technology business professionals, faculty, alumni, and other students. These contacts may become invaluable assets toward building a career network.</p><br />
            <p style="text-align:justify">Since we maintain high standards and expectations of our members, we have earned the respect of information technology firms, industry leaders, and faculty. Our success is dependent on the strong, active participation of our members. We encourage you to join us in our activities. The result will be beneficial to both you and our organization.</p><br />
        </div>
        <div class="col-sm-12">
            <h2 class="mt-4 page-header">Mission Statement</h2>
            <p style="text-align:justify">The Management of Information Systems Organization aims to provide it's members with a competitive edge in the IT industry.We desire to establish and build professionals through collaborations with the corporate world, hereby presenting them with well-balanced, all-rounded and quality MIS graduates who are efficient in all fields of Information Technology.</p><br />
            <p style="text-align:justify">We strive to assist each member of the MISO community in achieving their academic as well as career goals, thereby establishing the UHCL MISO and its Alumni as a well recognized and established entity.</p><br />
        </div>
    </div>
</div>