﻿@{
    ViewBag.Title = "MISOOfficersGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .pricing-table .plan {
        margin-left: 0px;
        border-radius: 5px;
        text-align: center;
        background-color: #f3f3f3;
        -moz-box-shadow: 0 0 6px 2px #b0b2ab;
        -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
        box-shadow: 0 0 6px 2px #b0b2ab;
    }

    .plan:hover {
        background-color: #fff;
        -moz-box-shadow: 0 0 12px 3px #b0b2ab;
        -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
        box-shadow: 0 0 12px 3px #b0b2ab;
    }

    .plan {
        padding: 20px;
        margin-left: 0px;
        color: #ff;
        background-color: #5e5f59;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .plan-name-bronze {
        padding: 20px;
        color: #fff;
        background-color: #665D1E;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .plan-name-silver {
        padding: 20px;
        color: #fff;
        background-color: #C0C0C0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .plan-name-gold {
        padding: 20px;
        color: #fff;
        background-color: #FFD700;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .pricing-table-bronze {
        padding: 20px;
        color: #fff;
        background-color: #f89406;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .pricing-table .plan .plan-name span {
        font-size: 20px;
    }

    .pricing-table .plan ul {
        list-style: none;
        margin: 0;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

        .pricing-table .plan ul li.plan-feature {
            padding: 15px 10px;
            border-top: 1px solid #c5c8c0;
            margin-right: 35px;
        }

    .pricing-three-column {
        margin: 0 auto;
        width: 80%;
    }

    .pricing-variable-height .plan {
        float: none;
        margin-left: 2%;
        vertical-align: bottom;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

    .plan-mouseover .plan-name {
        background-color: #4e9a06 !important;
    }

    .btn-plan-select {
        padding: 8px 25px;
        font-size: 18px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-offset-1">
            <h1 style="color:blue">MISO Officers</h1>
        </div>
        <div class="pricing-table pricing-three-column row">
            <div style="padding-right:5px">
                <div class="plan col-sm-4 col-lg-4" style="padding-left:5px;padding-right:5px">
                    <a class="fancybox" data-fancybox="group2" data-caption="Prithiviraj Mahendran - Techical Officerss" href="~/Images/Prithiviraj_Mahendran.jpg">
                        <img src="~/Images/Prithiviraj_Mahendran.jpg" style="width:250px;height:250px" class="rounded float-left" />
                    </a>
                    <ul>
                        <li class="plan-feature">Prithiviraj Mahendran</li>
                        <li class="plan-feature">Technical Officer</li>
                        <li class="plan-feature">SubhasBadavaP7668@UHCL.edu</li>
                    </ul>
                </div>
            </div>
            <div style="padding-right:5px">
                <div class="plan col-sm-4 col-lg-4" style="z-index:55;padding-left:5px;padding-right:5px">
                    <a class="fancybox" data-fancybox="group2" data-caption="Monika Ramadoss- CAG Officer" href="~/Images/Monika_Anandh.jpg">
                        <img src="~/Images/Monika_Anandh.jpg" style="width:250px;height:250px" class="rounded float-left" />
                    </a>
                    <ul>
                        <li class="plan-feature">Monika Ramadoss</li>
                        <li class="plan-feature">CAG Officer</li>
                        <li class="plan-feature">SubhasBadavaP7668@UHCL.edu</li>
                    </ul>
                </div>
            </div>
            <div style="padding-right:5px">
                <div class="plan col-sm-4 col-lg-4">
                    <a class="fancybox" data-fancybox="group2" data-caption="Sachin Kale- Tressurer" href="~/Images/Sachin_Kale.jpg">
                        <img src="~/Images/Sachin_Kale.jpg" style="width:250px;height:250px" class="rounded float-left" />
                    </a>
                    <ul>
                        <li class="plan-feature">Sachin Kale</li>
                        <li class="plan-feature">Tressurer</li>
                        <li class="plan-feature">SubhasBadavaP7668@UHCL.edu</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pricing-table pricing-three-column row">
            <div style="padding-right:5px">
                <div class="plan col-sm-4 col-lg-4" style="padding-left:5px;padding-right:5px">
                    <a class="fancybox" data-fancybox="group2" data-caption="Pritham- Technical Officer" href="~/Images/Preetham_Dizoza.jpg">
                        <img src="~/Images/Preetham_Dizoza.jpg" style="width:250px;height:250px" class="rounded float-left" />
                    </a>
                    <ul>
                        <li class="plan-feature">Pritam Dsouza</li>
                        <li class="plan-feature">Technical Officer</li>
                        <li class="plan-feature">SubhasBadavaP7668@UHCL.edu</li>
                    </ul>
                </div>
            </div>
            <div style="padding-right:5px">
                <div class="plan col-sm-4 col-lg-4" style="z-index:55;padding-left:5px;padding-right:5px">
                    <a class="fancybox" data-fancybox="group2" data-caption="Mehul- Vice Precident MISO" href="~/Images/Mehul_Patil.jpg">
                        <img src="~/Images/Mehul_Patil.jpg" style="width:250px;height:250px" class="rounded float-left" />
                    </a>
                    <ul>
                        <li class="plan-feature">Mehul Patil</li>
                        <li class="plan-feature">CAG Officer</li>
                        <li class="plan-feature">SubhasBadavaP7668@UHCL.edu</li>
                    </ul>
                </div>
            </div>
            <div style="padding-right:5px">
                <div class="plan col-sm-4 col-lg-4">
                    <a class="fancybox" data-fancybox="group2" data-caption="Sachin Kale- Tressurer" href="~/Images/Sachin_Kale.jpg">
                        <img src="~/Images/Sachin_Kale.jpg" style="width:250px;height:250px" class="rounded float-left" />
                    </a>
                    <ul>
                        <li class="plan-feature">Sachin Kale</li>
                        <li class="plan-feature">Tressurer</li>
                        <li class="plan-feature">SubhasBadavaP7668@UHCL.edu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>