﻿
@{
    ViewBag.Title = "OfficerRequirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="mt-4 page-header">MISO Officer Requirements</h2>
        </div>
        <div class="col-sm-12">
            <h4 class="mt-3 page-header">Officer Positions & Responsibilities</h4>
            <p style="text-align:justify">
                Advisor(s)
                The Advisor counsels students and officers, offers guidance when necessary, and verifies the accuracy of the records.
                Other Positions:
                Please Contact MISO Leadership to have them update the Officer Requirements
            </p><br />
            <h4 class="mt-3 page-header">Officer Requirements</h4>
            <p style="text-align:justify">
                To become an Officer of MISO, you must meet the following requirements:
                Must have an accepted degree plan for a Masters in Management Information Systems or Accounting with track in M.I.S. on file with UHCL Registrar
                Must have taken ISAM 5330 (Management Information Systems)
                Must have a cumulative GPA of 3.0 or higher
                Be an active member of MISO by volunteering for MISO events.
            </p><br />
        </div>
    </div>
</div>

